
*{
    background-color:transparent;
    color:white;
}
QPushButton{
    color:  white;
}
QPushButton:hover{
    color:  Cyan;
}
QPushButton:pressed {
    color:  CadetBlue;
}

/*****列表*******/
QListWidget{
    /*background:#222930;*/
    border: 0px solid Cyan;
}
QListWidget::item:hover{
    /*background: Cyan;*/
    padding: 0px;
    margin: 0px;
    color: Cyan;
    border: 1px solid Cyan;
}
QListWidget::item:selected {
    background: Cyan;
    padding: 0px;
    margin: 0px;
    color: black;
    border: 1px solid Cyan;
}

/*QPushButton,QToolButton{
    background-color:#222930;
    padding: 5px;
    border: none;
    font-size:13px;
    color:#FFFFFF;
}
QPushButton::hover,QToolButton::hover{
    background:#374040;
}
QPushButton::pressed,QToolButton::pressed{
    background:#363636;
}*/
