*{
    background-color:transparent;
    color:white;
}

QPushButton:hover{
    color:  Cyan;
}
QPushButton:pressed {
    color:  CadetBlue;
}

QPushButton#CloseBtn {
        background-color:transparent;
}

QPushButton#CloseBtn:hover {
    color:  Tomato;
}

QPushButton#CloseBtn:pressed {
    color:  red;
    /*background:#FF0000;*/
}
