
QWidget#BgWidget{
    /*background: #f24841;*/
    background: qlineargradient(x1: 0, y1: 0, x2: 1, y2: 0,
                            stop: 0 #374040, stop: 1.0 #222930);
    color:white;
    /*border-top-left-radius:10px;
    border-top-right-radius:10px;*/
}
QPushButton{
    background-color:transparent;
}
/*QPushButton#LogoBtn {
    image: url(:/res/ioplayer.png);
    background-color:transparent;
    font-size:30px;
    color:#CFCFCF;
    image: url(:/res/IOPlayer.png);
}*/
/*
QPushButton#LogoBtn:hover {
    color:#9C9C9C;
}

QPushButton#LogoBtn:pressed {
    color:#A9A9A9;
}
*/

QPushButton#MinBtn {
        background-color:transparent;
        /*image: url(:/res/minimize.png);*/
}

QPushButton#MinBtn:hover {
    background:#696969;
}

QPushButton#MinBtn:pressed {
    background:#363636;
}

QPushButton#MaxBtn {
        background-color:transparent;
        /*image: url(:/res/maximize.png);*/
}

QPushButton#MaxBtn:hover {
    background:#696969;
}

QPushButton#MaxBtn:pressed {
    background:#363636;
}



QPushButton#CloseBtn {
        background-color:transparent;
        /*image: url(:/res/close.png);*/
        /*text: "\uf2d4";*/
}

QPushButton#CloseBtn:hover {
    background:#8B0000;
}

QPushButton#CloseBtn:pressed {
    background:#FF0000;
}
