

*{
    background-color: #202129;
    color:white;
}

QWidget#BgWidget{
    border: 1px solid black;
    /*border-radius: 10px;*/
}

QWidget#ShowCtrlBarPlaylistBgWidget{
    border: 1px solid black;
    border-top:none;
}



/**********提示**********/
QToolTip{
        border: none;
        background-color: red;
        color:white;
}

