

*{
    background-color: #202129;
    color:white;
}

QWidget#BgWidget{
    border: 1px solid black;
    /*border-radius: 10px;*/
}

QWidget#ShowCtrlBarPlaylistBgWidget{
    border: 1px solid black;
    border-top:none;
}



/**********提示**********/
QToolTip{
        border: none;
        background-color: red;
        color:white;
}


/**********菜单**********/
QMenu {
    border: 1px solid rgb(100, 100, 100);
    background: rgb(68, 69, 73);
}
QMenu::item {
    height: 22px;
    padding: 0px 25px 0px 20px;
}
QMenu::item:enabled {
    color: rgb(225, 225, 225);
}
QMenu::item:!enabled {
    color: rgb(155, 155, 155);
}
QMenu::item:enabled:selected {
    color: rgb(230, 230, 230);
    background: rgba(255, 255, 255, 40);
}
QMenu::separator {
    height: 1px;
    background: rgb(100, 100, 100);
}
QMenu::indicator {
    width: 13px;
    height: 13px;
}
QMenu::icon {
    padding-left: 2px;
    padding-right: 2px;
}


