

/* *{
    background-color: #202129;
    color:white;
} */

QMainWindow#MainWid{
    border: 1px solid black;
    background-color: #202129;
}

QWidget#BgWidget{
    border: 1px solid black;
    /*border-radius: 10px;*/
}

QWidget#ShowCtrlBarPlaylistBgWidget{
    border: 1px solid black;
    border-top:none;
}

QWidget#PlaylistWid>PlaylistContents
{
    border: 1px solid black;
}




/**********菜单**********/
QMenu {
    border: 1px solid rgb(100, 100, 100);
    background:#2e2f37;
    color:white;
}
QMenu::item {
    height: 22px;
    padding: 0px 25px 0px 20px;
}
QMenu::item:enabled {
    color: rgb(225, 225, 225);
}
QMenu::item:!enabled {
    color: rgb(155, 155, 155);
}
QMenu::item:enabled:selected {
    color: rgb(230, 230, 230);
    background: rgba(255, 255, 255, 40);
}
QMenu::separator {
    height: 1px;
    background: rgb(100, 100, 100);
}
QMenu::indicator {
    width: 13px;
    height: 13px;
}
QMenu::icon {
    padding-left: 2px;
    padding-right: 2px;
}


/**********提示**********/
QToolTip{
    border: none;
    background-color: #2e2f37;
    color:white;
}


/**********状态栏**********/
QStatusBar {
    background: rgb(57, 58, 60);
}
QStatusBar::item {
    border: none;
    border-right: 1px solid rgb(100, 100, 100);
}
